.card {
    background: #f9f9f9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    place-items: center;
    height: 250px;
    width: 250px;
    border: 2px dashed #333;
    border-radius: 6px;
}

.area {
    width: 200px;
    height: 200px;
    place-content: center;
}

.area h3,
.area p {
    margin: 0 auto;
}

.area p {
    font-size: 14px;
    color: #666;
}

#box-a {
    background: khaki;
}

#box-b {
    background: yellow;
    padding: 30px;
}

#box-c {
    background: orange;
    padding: 30px;
    border: 10px solid #333;
}

#box-d {
    background: burlywood;
    padding: 30px;
    border: 10px solid #333;
    margin: 35px;
    /* margin-top: 50px;*/
    /* margin: 35px;*/
}

/*box box static */
#box-static {
    border-
}